.Weather {
  border: 1px solid #daddee;
  border-radius: 6px;

  padding: 16px;
  background-color: #fff;
  max-width: 700px;
}
.Weather h1 {
  color: rgb(33, 33, 33);
  font-size: 32px;
  font-weight: 600;
}
.Weather .float-left {
  display: inline;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather .list li {
  list-style-type: none;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  color: #70757a;
  margin-bottom: 10px;
}
.Weather form {
  margin-bottom: 20px;
}
.Weather .temperature {
  font-size: 64px;
  color: rgb(33, 33, 33);
  line-height: 1;
  font-weight: 400;
  display: block;
  margin-left: 50px;
  margin-top: -64px;
}
.Weather .unit {
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  position: relative;
  top: -57px;
  margin-left: 115px;
  width: 64px;
  color: rgb(33, 33, 33);
}
.Weather img {
  margin-top: 10px;
}
