.Weather {
  border: 1px solid #daddee;
  border-radius: 6px;

  padding: 16px;
  background-color: #fff;
  max-width: 700px;
}
.Weather h1 {
  color: rgb(33, 33, 33);
  font-size: 32px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 10 px;
}

.Weather ul {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}
.Weather .list li {
  list-style-type: none;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  color: #70757a;
}
.Weather form {
  margin-bottom: 20px;
}
.Weather .temperature {
  font-size: 64px;
  color: rgb(33, 33, 33);
  line-height: 1;
  font-weight: 400;
  display: block;
  margin-left: 52px;
  margin-top: -60px;
}
.Weather .unit {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  position: relative;
  top: -57px;
  margin-left: 120px;
  width: 64px;
  color: rgb(33, 33, 33);
}
.Weather img {
  display: inline-block;
}
